/*Pseudoelementos

::firts-letter - elementos en bloque
::first-line - elementos en bloque
::selection
::before
::after

*/

.titulo::first-letter {
    color: red;
    font-size: 50px;
}

.linea::first-letter {
    color: red;
}

.linea {
    display: block;
}

.text::first-line {
    color: green;
}

.texto::selection {
    color: red;
    background: yellow;
}